/.env
.env.local
.env.*.local
/contracts/.env
/frontend/.env
.idea/
.vscode/
/.deploy/
vendor/
node_modules/
.pnpm-store/
pnpm-debug.log*
.next/
frontend/next-env.d.ts
frontend/out/
frontend/storybook-static/
frontend/public/vendor/ffmpeg-core/
backend/var/
contracts/cache/
contracts/out/
contracts/broadcast/
coverage/
dist/
*.log
*.tsbuildinfo
